{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}file_type.list.verb{% endtrans %}</h2>
    <em>{% trans %}file_type.list.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
    {% import 'FitchFrontEndBundle::helper.html.twig' as helper %}
    <div class="widget widget-table">
        {{ helper.widget_header('file_type.list.verb', 'fa fa-files-o', 'widget-filetype-index') }}
            <table class="records_list table table-condensed table-striped">
                <thead>
                <tr>
                    <th>{% trans %}file_type.column.id{% endtrans %}</th>
                    <th>{% trans %}file_type.column.name{% endtrans %}</th>
                    <th>{% trans %}file_type.column.private{% endtrans %}</th>
                    <th>{% trans %}file_type.column.profile{% endtrans %}</th>
                    <th>{% trans %}file_type.column.bio{% endtrans %}</th>
                    <th>{% trans %}file_type.column.actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for file_type in file_types %}
                    <tr>
                        <td>{{ file_type.id }}{% if file_type.isDefault %}<i class="fa fa-asterisk yellow-font"></i>{% endif %}</td>
                        <td><a href="{{ path('file_type_show', { 'id': file_type.id }) }}">{{ file_type.name }}</a></td>
                        <td>{% if file_type.isPrivate %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                        <td>{% if file_type.isSuitableForProfilePicture %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                        <td>{% if file_type.isDisplayWithBio %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                        <td>
                            <a href="{{ path('file_type_show', { 'id': file_type.id }) }}" class="btn btn-xs btn-default">{% trans %}navigation.show{% endtrans %}</a>
                            <a href="{{ path('file_type_edit', { 'id': file_type.id }) }}" class="btn btn-xs btn-default">{% trans %}navigation.edit{% endtrans %}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <small><i class="fa fa-asterisk yellow-font"></i> {% trans %}file_type.default_message{% endtrans %}</small>
        {{ helper.widget_footer() }}
    </div>

    <div class="record_actions well">
        <a href="{{ path('file_type_new') }}" class="btn btn-default btn-s">
            <i class="fa fa-plus-circle"></i> {% trans %}navigation.new{% endtrans %}
        </a>
    </div>
{% endblock %}
