{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}file_type.show.verb{% endtrans %}</h2>
    <em>{% trans %}file_type.show.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
    {% import 'FitchFrontEndBundle::helper.html.twig' as helper %}
    <div class="widget widget-table">
        {{ helper.widget_header(file_type, 'fa fa-files-o', 'widget-filetype-show') }}
            <table class="record_properties table table-condensed table-striped">
                <tbody>
                <tr>
                    <th class="col-xs-2">{% trans %}file_type.column.id{% endtrans %}</th>
                    <td>{{ file_type.id }}</td>
                </tr>
                <tr>
                    <th class="col-xs-2">{% trans %}file_type.column.name{% endtrans %}</th>
                    <td>{{ file_type.name }}</td>
                </tr>
                <tr>
                    <th class="col-xs-2">{% trans %}file_type.column.default{% endtrans %}</th>
                    <td>{% if file_type.isDefault %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                </tr>
                <tr>
                    <th class="col-xs-2">{% trans %}file_type.column.private{% endtrans %}</th>
                    <td>{% if file_type.isPrivate %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                </tr>
                <tr>
                    <th class="col-xs-2">{% trans %}file_type.column.bio{% endtrans %}</th>
                    <td>{% if file_type.isDisplayWithBio %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                </tr>
                <tr>
                    <th class="col-xs-2">{% trans %}file_type.column.profile{% endtrans %}</th>
                    <td>{% if file_type.suitableForProfilePicture %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                </tr>

                </tbody>
            </table>
        {{ helper.widget_footer() }}
    </div>

    <div class="record_actions well">
        <a class="btn btn-default btn-s" href="{{ path('file_type') }}">
            <i class="fa fa-arrow-circle-left"></i> {% trans %}navigation.list{% endtrans %}
        </a>

        <a class="btn btn-default btn-s" href="{{ path('file_type_edit', { 'id': file_type.id }) }}">
            <i class="fa fa-pencil"></i> {% trans %}navigation.edit{% endtrans %}
        </a>

        {% form_theme delete_form 'FitchFrontEndBundle:Form:inline.html.twig' %}
        {{ form(delete_form, {'attr': {'class': 'form-inline'} }) }}
    </div>
{% endblock %}
