{%  extends '::base.html.twig' %}

{% block body_attrs %}class="dashboard"{% endblock %}

{% block body %}
	<!-- WRAPPER -->
	<div class="wrapper">

        {% block top_bar %}
            {{ render(controller('FitchFrontEndBundle:Navigation:mainbar', {})) }}
        {% endblock %}

		<!-- BOTTOM: LEFT NAV AND RIGHT MAIN CONTENT -->
		<div class="bottom">
			<div class="container">
				<div class="row">
                    {{ render(controller('FitchFrontEndBundle:Navigation:sidebar', {})) }}
                    <!-- content-wrapper -->
                    	<div class="row">
                            <div class="col-md-4">
                                {% block breadcrumb %}
                                    {{ knp_menu_render('FitchFrontEndBundle:MenuBuilder:breadcrumbMenu', {
                                        'currentClass' : 'active',
                                        'ancestorClass': 'active open',
                                        'template': 'FitchFrontEndBundle:Menu:breadcrumb.html.twig'
                                    }) }}
                                {% endblock %}
                            </div>
						</div>

						<!-- main -->
						<div class="content">
                            {% block main %}
                                <div class="main-header">
                                    {% block main_header %}{% endblock %}
                                </div>

                                {% block flashbag %}
                                    {% for flashMessage in app.session.flashbag.get('success') %}
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4><i class="fa fa-check-circle"></i> Success</h4><p>{{ flashMessage|replace({"\n": "</p><p>"})|raw }}</p>
                                        </div>
                                    {% endfor %}
                                    {% for flashMessage in app.session.flashbag.get('info') %}
                                        <div class="alert alert-info alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4><i class="fa fa-info-circle"></i> Information</h4><p>{{ flashMessage|replace({"\n": "</p><p>"})|raw }}</p>
                                        </div>
                                    {% endfor %}
                                    {% for flashMessage in app.session.flashbag.get('warning') %}
                                        <div class="alert alert-warning alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4><i class="fa fa-exclamation-triangle"></i> Warning</h4><p>{{ flashMessage|replace({"\n": "</p><p>"})|raw }}</p>
                                        </div>
                                    {% endfor %}
                                    {% for flashMessage in app.session.flashbag.get('error') %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4><i class="fa fa-exclamation-circle"></i> Error</h4><p>{{ flashMessage|replace({"\n": "</p><p>"})|raw }}</p>
                                        </div>
                                    {% endfor %}
                                {% endblock %}

                                <div class="main-content">
                                    {% block main_content %}{% endblock %}
                                </div>
                            {% endblock %}
						</div>
						<!-- /main -->
					</div>
					<!-- /content-wrapper -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- END BOTTOM: LEFT NAV AND RIGHT MAIN CONTENT -->

        {% block footer %}
            {%  include 'FitchFrontEndBundle::footer.html.twig' %}
		{% endblock %}

	</div>
	<!-- /wrapper -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}
