{% trans_default_domain 'FOSUserBundle' %}

<div class="logo">
    <a href="index.html">
        <img src="{{ asset('bundles/fitchfrontend/images/logo.png') }}" alt="" />
    </a>
</div>

<div class="reset-box center-block">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <p class="title">Enter your username or email</p>
        <div class="input-group">
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}
            <label class="sr-only" for="username">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" class="form-control" id="username" name="username" required="required" />
        </div>
        <div>
            <button class="btn btn-custom-primary btn-lg btn-block btn-login"><i class="fa fa-arrow-circle-o-right"></i> {{ 'resetting.request.submit'|trans }}</button>
        </div>
    </form>
</div>
