{% trans_default_domain 'FOSUserBundle' %}

<div class="logo">
    <a href="index.html">
        <img src="{{ asset('bundles/fitchfrontend/images/logo.png') }}" alt="" />
    </a>
</div>

<div class="register-box center-block">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        <p class="title">Create Your Account</p>

        {% form_theme form 'FitchFrontEndBundle:Form:stacked.html.twig' %}
        {{ form_widget(form) }}

        <button class="btn btn-custom-primary btn-lg btn-block btn-register"><i class="fa fa-check-circle"></i> {{ 'registration.submit'|trans }}</button>
    </form>
</div>
