{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}country.list.verb{% endtrans %}</h2>
    <em>{% trans %}country.list.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-flag-o"></i> {% trans %}country.list.verb{% endtrans %}</h3>
            <div class="btn-group widget-header-toolbar">
                <a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                <a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
                <a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="widget-content">
            <table class="records_list table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>{% trans %}country.column.id{% endtrans %}</th>
                        <th>{% trans %}country.column.name{% endtrans %}</th>
                        <th>{% trans %}country.column.code_2{% endtrans %}</th>
                        <th>{% trans %}country.column.code_3{% endtrans %}</th>
                        <th>{% trans %}country.column.dialling_code{% endtrans %}</th>
                        <th>{% trans %}country.column.preferred{% endtrans %}</th>
                        <th>{% trans %}country.column.default_region{% endtrans %}</th>
                        <th>{% trans %}country.column.actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for country in countries %}
                    <tr>
                        <td>{{ country.id }}</td>
                        <td><a href="{{ path('country_show', { 'id': country.id }) }}">{{ country.name }}</a></td>
                        <td>{{ country.twoDigitCode }}</td>
                        <td>{{ country.threeDigitCode }}</td>
                        <td>{{ country.dialingCode }}</td>
                        <td>{% if country.isPreferred %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                        <td>{% if country.getDefaultRegion %}{{ country.getDefaultRegion }}{% endif %}</td>
                        <td>
                            <a href="{{ path('country_show', { 'id': country.id }) }}" class="btn btn-xs btn-default">{% trans %}navigation.show{% endtrans %}</a>
                            <a href="{{ path('country_edit', { 'id': country.id }) }}" class="btn btn-xs btn-default">{% trans %}navigation.edit{% endtrans %}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="record_actions well">
        <a href="{{ path('country_new') }}" class="btn btn-default btn-s">
            <i class="fa fa-plus-circle"></i> {% trans %}navigation.new{% endtrans %}
        </a>
    </div>
{% endblock %}
