{% set profile = tutor.getProfilePicture %}
{% if profile %}
    <img id="avatar" src="{{ path('get_file_as_avatar', { 'id':profile.getId }) }}" alt="Profile Picture"/>
    <br/>
    <a href="#" id="crop-zoom" class="btn btn-default btn-xs"
       data-id="{{ profile.getId }}"
       data-crop-x="{{ profile.getCropX }}"
       data-crop-y="{{ profile.getCropY }}"
       data-crop-height="{{ profile.getCropHeight }}"
       data-crop-width="{{ profile.getCropWidth }}"
    ><i class="fa fa-crop"></i> Crop/Zoom Image</a>
{% endif %}
