<span class="data-name">
    <span class="data-tag" {% if not prototype %}{% if competency.getCompetencyLevel %}style="background-color: {{ competency.getCompetencyLevel.getColor }}"{% endif %}{% endif %}>&nbsp;</span>
    <a href="#" id="competency-level{% if prototype %}0{% else %}{{ competency.getId }}{% endif %}" class="inline-competency-level"
        {% if isAdmin %}
            data-type="typeaheadjs"
        {% else %}
            data-source="{{ path('active_competency_level') }}"
            data-type="select"
            data-value="{% if prototype %}0{% else %}{% if competency.getCompetencyLevel %}{{ competency.getCompetencyLevel.getId }}{% endif %}{% endif %}"
        {% endif %}
        data-pk="{% if prototype %}{{ tutorId }}{% else %}{{ tutor.getId }}{% endif %}"
        data-competency-pk="{% if prototype %}0{% else %}{{ competency.getId }}{% endif %}"
        data-url="{{ path('competency_ajax_update')}}"
        data-title="Level of Skill"
            >{% if not prototype %}{% if competency.getCompetencyLevel %}{{ competency.getCompetencyLevel.getName }}{% endif %}{% endif %}</a>
</span>
<span class="data-value">
    <a href="#" id="competency-type{% if prototype %}0{% else %}{{ competency.getId }}{% endif %}" class="inline-competency-type"
        {% if isAdmin %}
            data-type="typeaheadjs"
        {% else %}
            data-source="{{ path('active_competency_type') }}"
            data-type="select"
            data-value="{% if prototype %}0{% else %}{% if competency.getCompetencyType %}{{ competency.getCompetencyType.getId }}{% endif %}{% endif %}"
        {% endif %}
       data-pk="{% if prototype %}{{ tutorId }}{% else %}{{ tutor.getId }}{% endif %}"
       data-competency-pk="{% if prototype %}0{% else %}{{ competency.getId }}{% endif %}"
       data-url="{{ path('competency_ajax_update')}}"
       data-title="Skill"
            >{% if not prototype %}{% if competency.getCompetencyType %}{{ competency.getCompetencyType.getName }}{% endif %}{% endif %}</a>
</span>
<span class="data-action">
    <a href="#" data-pk="{% if prototype %}0{% else %}{{ competency.getId }}{% endif %}" class="btn btn-danger btn-xs remove-competency"><i class="fa fa-remove"></i></a>
</span>
<span class="data-note">
    <a href="#" id="competency-note{% if prototype %}0{% else %}{{ competency.getId }}{% endif %}" class="inline-competency-note"
       data-type="textarea"
       data-pk="{% if prototype %}{{ tutorId }}{% else %}{{ tutor.getId }}{% endif %}"
       data-competency-pk="{% if prototype %}0{% else %}{{ competency.getId }}{% endif %}"
       data-url="{{ path('competency_ajax_update')}}"
       data-title="Note"
            >{% if not prototype%}{{ competency.getNote }}{% endif %}</a>
</span>
