<div class="row">
    <div class="col-md-6">
        <div class="user-info-left">
            <div class="rates-info">
                <div class="rates-container">
                    <h3 data-id="{{ tutor.getId }}"><i class="fa fa-square"></i> {% trans %}profile.section.rates{% endtrans %}
                        <a href="#" class="btn btn-default btn-xs add-rate"><i class="fa fa-money"></i> {% trans %}profile.button.new_rate{% endtrans %}</a>
                    </h3>
                    <div class="data-row">
                        <span class="data-name">{% trans %}profile.field.currency{% endtrans %}</span>
                        <span class="data-value"><a href="#" id="currency" class="inline" data-source="{{ path('all_currencies') }}" data-type="select" data-pk="{{ tutor.getId }}" data-url="{{ path('tutor_ajax_update')}}" data-value="{{ tutor.getCurrency.getId }}" data-title="Select Currency">{{ tutor.getCurrency }}</a></span>
                    </div>
                    {% for rate in tutor.getRates %}
                        <div class="data-row" data-id="{{ tutor.getId }}">
                            <span class="data-name">{{ rate.getName }} {% trans %}profile.field.rate_suffix{% endtrans %}</span>
                            <span class="data-value">
                                <a href="#" id="rate{{ rate.getId }}" class="inline-rate"
                                   data-type="rate"
                                   data-pk="{{ tutor.getId }}"
                                   data-rate-pk="{{ rate.getId }}"
                                   data-url="{{ path('tutor_ajax_update')}}"
                                   data-title="Enter Rate"
                                   data-value-name="{{ rate.getName }}"
                                   data-value-amount="{{ rate.getAmount }}"
                                        >{{ rate.getAmount }}</a>
                            </span>
                            <span class="data-action">
                                <a href="#" data-pk="{{ rate.getId }}" class="btn btn-danger btn-xs remove-rate"><i class="fa fa-remove"></i></a>
                            </span>
                            <span class="data-history" data-toggle="modal" data-target="#modal-ratehistory">
                                <span class="data-history-content hide">
                                    <table class="records_list table table-condensed table-striped">
                                        <thead>
                                            <tr>
                                                <th>{% trans %}profile.field.log.action{% endtrans %}</th>
                                                <th>{% trans %}profile.field.log.rate{% endtrans %}</th>
                                                <th>{% trans %}profile.field.log.qty{% endtrans %}</th>
                                                <th>{% trans %}profile.field.log.date{% endtrans %}</th>
                                                <th>{% trans %}profile.field.log.user{% endtrans %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for logEntry in rateManager.getLogs(rate)|reverse %}
                                            <tr>
                                                <td>{{ logEntry.action }}</td>
                                                <td>{{ logEntry.data.name|default('<span class="no-change">No Change</span>')|raw }}</td>
                                                <td>{{ logEntry.data.amount|default('<span class="no-change">No Change</span>')|raw }}</td>
                                                <td>{{ logEntry.loggedAt|date("F jS \\a\\t g:ia")  }}</td>
                                                <td>{{ logEntry.username}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </span>
                                <a href="#" class="btn btn-default btn-xs"><i class="fa fa-history"></i> {% trans %}profile.button.history{% endtrans %}</a>
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="contracts-info">
                <h3><i class="fa fa-square"></i> {% trans %}profile.section.files{% endtrans %}</h3>
                <div id="contracts-container">
                    <ul class="fa-ul">
                        {% for file in tutor.getFiles %}
                            {% if file.getFileType.isPrivate %}
                                <li><i class="fa-li fa fa-file-o"></i><a href="{{ path('get_file_download', {'id':file.getId}) }}">{{ file.getName() }}</a><span class="data-file">{{ file.getProvenance }}</span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="user-info-right">
            <div class="notes-info" data-note-key="terms" data-id="{{ tutor.getId }}">
                <div class="notes-container">
                    <h3><i class="fa fa-square"></i> {% trans %}profile.section.terms{% endtrans %}</h3>
                    {% for note in tutor.getNotes %}
                        {% if note.getKey == 'terms' %}
                            <div data-id="{{ note.getId }}" class="data-row">
                                <div class="note">
                                    <a href="#" id="note{{ note.getId }}" class="inline-note"
                                       data-inputclass="input-note"
                                       data-type="textarea"
                                       data-pk="{{ tutor.getId }}"
                                       data-url="{{ path('tutor_ajax_update')}}"
                                       data-title="Enter Note"
                                       data-note-pk="{{ note.getId }}"
                                            >{{ note.getBody }}</a>

                                </div>
                                <div class="note-provenance pull-right">{{ note.getProvenance }}
                                    <span class="data-action">
                                        <a href="#" data-pk="{{ note.getId }}" class="btn btn-danger btn-xs remove-note"><i class="fa fa-remove"></i></a>
                                    </span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="notes-new">
                    <a href="#" class="btn btn-default btn-xs add-note"><i class="fa fa-file-text-o"></i> {% trans %}profile.button.new_note{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
