<div class="row">
    <div class="col-md-6">
        <div class="user-info-left">
            <div class="rates-info">
                <div class="rates-container">
                    <h3 data-id="{{ tutor.getId }}"><i class="fa fa-square"></i> {% trans %}profile.section.rates{% endtrans %}
                        <a href="#" class="btn btn-default btn-xs add-rate"><i class="fa fa-money"></i> {% trans %}profile.button.new_rate{% endtrans %}</a>
                    </h3>
                    <div class="data-row">
                        <span class="data-name">{% trans %}profile.field.currency{% endtrans %}</span>
                        {% if isEditor %}
                        <span class="data-value"><a href="#" id="currency" class="inline" data-source="{{ path('all_currencies') }}" data-type="select" data-pk="{{ tutor.getId }}" data-url="{{ path('tutor_ajax_update')}}" data-value="{{ tutor.getCurrency.getId }}" data-title="Select Currency">{{ tutor.getCurrency }}</a></span>
                        {% else %}
                        <span class="data-value">{{ tutor.getCurrency }}</span>
                        {% endif %}
                    </div>
                    {% for rate in tutor.getRates %}
                        {% include 'FitchTutorBundle:Profile:rate_row.html.twig' %}
                    {% endfor %}
                </div>
            </div>

            <div class="contracts-info">
                <h3><i class="fa fa-square"></i> {% trans %}profile.section.files{% endtrans %}</h3>
                <div id="contracts-container">
                    <ul class="fa-ul">
                        {% for file in tutor.getFiles %}
                            {% if file.getFileType.isPrivate %}
                                <li><i class="fa-li fa fa-file-o"></i><a href="{{ path('get_file_download', {'id':file.getId}) }}">{{ file.getName() }}</a><span class="data-file">{{ file.getProvenance }}</span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="user-info-right">
            <div class="notes-info" data-note-key="terms" data-id="{{ tutor.getId }}">
                <h3><i class="fa fa-square"></i> {% trans %}profile.section.terms{% endtrans %}</h3>
                <div class="notes-container">
                    {% for note in tutor.getNotes|reverse if note.getKey == 'terms'%}
                        {% include 'FitchTutorBundle:Profile:note_row.html.twig' %}
                    {% endfor %}
                </div>
                <div class="notes-new">
                    <a href="#" class="btn btn-default btn-xs add-note"><i class="fa fa-file-text-o"></i> {% trans %}profile.button.new_note{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
