<div class="row">
    <div class="col-md-4">
        <div class="user-info-left">
            <div class="rates-info">
                <div class="rates-container">
                    <h3 data-id="{{ tutor.getId }}"><i class="fa fa-square"></i> Rates
                        <a href="#" class="btn btn-default btn-xs add-rate"><i class="fa fa-money"></i> New Rate</a>
                    </h3>
                    <div class="data-row">
                        <span class="data-name">Currency</span>
                        <span class="data-value"><a href="#" id="currency" class="inline" data-source="{{ path('all_currencies') }}" data-type="select" data-pk="{{ tutor.getId }}" data-url="{{ path('tutor_ajax_update')}}" data-value="{{ tutor.getCurrency.getId }}" data-title="Select Currency">{{ tutor.getCurrency }}</a></span>
                    </div>
                    {% for rate in tutor.getRates %}
                        <div class="data-row" data-id="{{ tutor.getId }}">
                            <span class="data-name">{{ rate.getName }} Rate</span>
                                        <span class="data-value">
                                            <a href="#" id="rate{{ rate.getId }}" class="inline-rate"
                                               data-type="rate"
                                               data-pk="{{ tutor.getId }}"
                                               data-rate-pk="{{ rate.getId }}"
                                               data-url="{{ path('tutor_ajax_update')}}"
                                               data-title="Enter Rate"
                                               data-value-name="{{ rate.getName }}"
                                               data-value-amount="{{ rate.getAmount }}"
                                                    >{{ rate.getAmount }}</a>
                                        </span>
                                        <span class="data-action">
                                            <a href="#" data-pk="{{ rate.getId }}" class="btn btn-danger btn-xs remove-rate"><i class="fa fa-remove"></i></a>
                                        </span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="contracts-info">
                <h3><i class="fa fa-square"></i> Contracts</h3>
                <div id="contracts-container">
                    <ul class="fa-ul">
                        {% for file in tutor.getFiles %}
                            {% if file.getFileType.isPrivate %}
                                <li><i class="fa-li fa fa-file-o"></i><a href="{{ path('get_file_download', {'id':file.getId}) }}">{{ file.getName() }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-8">
        <div class="user-info-right">
            <div class="notes-info" data-note-key="terms" data-id="{{ tutor.getId }}">
                <div class="notes-container">
                    <h3><i class="fa fa-square"></i> Notes for Terms of Engagement</h3>
                    {% for note in tutor.getNotes %}
                        {% if note.getKey == 'terms' %}
                            <div data-id="{{ note.getId }}" class="data-row">
                                <div class="note">
                                    <a href="#" id="note{{ note.getId }}" class="inline-note"
                                       data-inputclass="input-note"
                                       data-type="textarea"
                                       data-pk="{{ tutor.getId }}"
                                       data-url="{{ path('tutor_ajax_update')}}"
                                       data-title="Enter Note"
                                       data-note-pk="{{ note.getId }}"
                                            >{{ note.getBody }}</a>

                                </div>
                                <div class="note-provenance pull-right">{{ note.getProvenance }}
                                    <span class="data-action">
                                                <a href="#" data-pk="{{ note.getId }}" class="btn btn-danger btn-xs remove-note"><i class="fa fa-remove"></i></a>
                                            </span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="notes-new">
                    <a href="#" class="btn btn-default btn-xs add-note"><i class="fa fa-file-text-o"></i> New Note</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-danger">DEBUG - THIS TAB WILL (EVENTUALLY!) ONLY DISPLAY WITH APPROPRIATE RIGHTS </div>
