<span class="data-name">
    &nbsp;
</span>
<span class="data-value">
    <a href="#" id="tutor-language{% if prototype %}0{% else %}{{ tutorLanguage.getId }}{% endif %}" class="inline-tutor-language"
       {% if isAdmin %}
            data-type="typeaheadjs"
       {% else %}
           data-source="{{ path('active_languages') }}"
           data-type="select"
           data-value="{% if prototype %}0{% else %}{{ tutorLanguage.getLanguage.getId }}{% endif %}"
       {% endif %}
       data-pk="{% if prototype %}{{ tutorId }}{% else %}{{ tutor.getId }}{% endif %}"
       data-tutor-language-pk="{% if prototype %}0{% else %}{{ tutorLanguage.getId }}{% endif %}"
       data-url="{{ path('tutor_language_ajax_update')}}"
       data-title="Language"
            >{% if not prototype %}{% if tutorLanguage.getLanguage %}{{ tutorLanguage.getLanguage.getName }}{% endif %}{% endif %}</a>
</span>
<span class="data-action">
    <a href="#" data-pk="{% if prototype %}0{% else %}{{ tutorLanguage.getId }}{% endif %}" class="btn btn-danger btn-xs remove-tutor-language"><i class="fa fa-remove"></i></a>
</span>
<span class="data-note">
    <a href="#" id="tutor-language-note{% if prototype %}0{% else %}{{ tutorLanguage.getId }}{% endif %}" class="inline-tutor-language-note"
       data-type="textarea"
       data-pk="{% if prototype %}tutorId{% else %}{{ tutor.getId }}{% endif %}"
       data-tutor-language-pk="{% if prototype %}tutorId{% else %}{{ tutorLanguage.getId }}{% endif %}"
       data-url="{{ path('tutor_language_ajax_update')}}"
       data-title="Note"
            >{% if not prototype %}{{ tutorLanguage.getNote }}{% endif %}</a>
</span>
