
    <div class="row">
        <div class="col-md-3">
            <div class="user-info-left">
                <div id="avatar-container">
                    {% include 'FitchTutorBundle:Profile:avatar.html.twig' %}
                </div>
                <h2> {{ tutor.name }} </h2>
            </div>
        </div>
        <div class="col-md-9">
            <div class="user-info-right">
                <div class="basic-info">
                    <h3><i class="fa fa-square"></i> {% trans %}profile.section.basic_info{% endtrans %}</h3>
                    <p class="data-row">
                        <span class="data-name">{% trans %}profile.field.fullname{% endtrans %}</span>
                        <span class="data-value">
                            {% if isEditor %}<a href="#" id="name" class="inline" data-type="text" data-pk="{{ tutor.getId }}" data-url="{{ path('tutor_ajax_update')}}" data-title="Enter Full Name">{% endif %}
                                {{ tutor.name }}
                            {% if isEditor %}</a>{% endif %}
                        </span>
                    </p>
                    <p class="data-row">
                        <span class="data-name">{% trans %}profile.field.company{% endtrans %}</span>
                        <span class="data-value">
                            {% if isEditor %}<a href="#" id="company" class="inline" data-type="text" data-pk="{{ tutor.getId }}" data-url="{{ path('tutor_ajax_update')}}" data-title="Enter Company Name">{% endif %}
                                {{ tutor.company}}
                                {% if isEditor %}</a>{% endif %}
                        </span>
                    </p>
                    <p class="data-row">
                        <span class="data-name">{% trans %}profile.field.tutor_type{% endtrans %}</span>
                        <span class="data-value">
                            {% if isEditor %}<a href="#" id="tutor_type" class="inline" data-source="{{ path('all_tutor_types') }}" data-type="select" data-pk="{{ tutor.getId }}" data-url="{{ path('tutor_ajax_update')}}" data-value="{{ tutor.getTutorType.getId }}" data-title="Select Tutor Type">{% endif %}
                                {{ tutor.getTutorType.getName }}
                            {% if isEditor %}</a>{% endif %}
                        </span>
                    </p>
                    <p class="data-row">
                        <span class="data-name">{% trans %}profile.field.status{% endtrans %}</span>
                        <span class="data-value">
                            {% if isEditor %}<a href="#" id="status" class="inline" data-source="{{ path('all_status') }}" data-type="select" data-pk="{{ tutor.getId }}" data-url="{{ path('tutor_ajax_update')}}" data-value="{{ tutor.getRegion.getId }}" data-title="Select Status">{% endif %}
                                {{ tutor.getStatus.getName }}
                            {% if isEditor %}</a>{% endif %}
                        </span>
                    </p>
                    <p class="data-row">
                        <span class="data-name">{% trans %}profile.field.region{% endtrans %}</span>
                        <span class="data-value">
                            {% if isEditor %}<a href="#" id="region" class="inline" data-source="{{ path('all_regions') }}" data-type="select" data-pk="{{ tutor.getId }}" data-url="{{ path('tutor_ajax_update')}}" data-value="{{ tutor.getRegion.getId }}" data-title="Select Region">{% endif %}
                                {{ tutor.getRegion.getName }}
                            {% if isEditor %}</a>{% endif %}
                        </span>
                    </p>

                    {% if isEditor or tutor.getLinkedInURL %}
                    <p class="data-row">
                        <span class="data-name"><i class="fa fa-linkedin-square"></i> {% trans %}profile.field.linked_in{% endtrans %}</span>
                        <span class="data-value">
                            {% if tutor.getLinkedInURL %}
                                <a href="{{ tutor.getLinkedInURL }}" target="_blank">View Profile</a>
                            {% endif %}
                            {% if isEditor %}
                                <a href="#" id="linkedInURL" class="inline" data-type="url" data-pk="{{ tutor.getId }}" data-url="{{ path('tutor_ajax_update')}}" data-value="{{ tutor.getLinkedInURL }}" data-title="Enter URL of LinkedIn Profile">Edit</a>
                            {% endif %}
                        </span>
                    </p>
                    {% endif %}

                    <p class="data-row">
                        <span class="data-name">{% trans %}profile.field.created{% endtrans %}</span>
                        <span class="data-value">{{ tutor.created|localizeddate('medium','none') }} </span>
                    </p>
                </div>
                <div class="contact-info">
                    <h3 class="data-row" data-id="{{ tutor.getId }}"><i class="fa fa-square"></i> {% trans %}profile.section.contact_info{% endtrans %}
                        {% if isEditor %}
                            <a href="#" class="btn btn-default btn-xs add-email"><i class="fa fa-at"></i> {% trans %}profile.button.new_email{% endtrans %}</a>
                            <a href="#" class="btn btn-default btn-xs add-phone"><i class="fa fa-phone"></i> {% trans %}profile.button.new_phone{% endtrans %}</a>
                            <a href="#" class="btn btn-default btn-xs add-address"><i class="fa fa-envelope-o"></i> {% trans %}profile.button.new_address{% endtrans %}</a>
                        {% endif %}
                    </h3>

                    <div class="email-container">
                        {% for email in tutor.getEmailAddresses %}
                            {% include 'FitchTutorBundle:Profile:email_row.html.twig' %}
                        {% endfor %}
                    </div>

                    <div class="phone-container">
                        {% for phone in tutor.getPhoneNumbers %}
                            {% include 'FitchTutorBundle:Profile:phone_row.html.twig' %}
                        {% endfor %}
                    </div>

                    <div class="address-container">
                        {% for address in tutor.getAddresses %}
                            {% include 'FitchTutorBundle:Profile:address_row.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
                <div class="bio data-row" data-id="{{ tutor.getId }}">
                    <h3><i class="fa fa-square"></i> {% trans %}profile.section.bio{% endtrans %} {% if isEditor %}<a href="#" class="btn btn-default btn-xs edit-bio"><i class="fa fa-pencil"></i> Edit</a>{% endif %}</h3>
                    <div id="bio">{{ tutor.getBio|purify }}</div>
                    <a href="#" class="btn btn-success btn-xs save-bio" style="display:none"><i class="fa fa-floppy-o"></i> Save</a>

                    <div id="bio-files-container">
                        <ul class="fa-ul">
                            {% for file in tutor.getFiles %}
                                {% if file.getFileType.isDisplayWithBio %}
                                    {% if isAdmin or not file.getFileType.isPrivate %}
                                        <li><i class="fa-li fa fa-file-o"></i><a href="{{ path('get_file_download', {'id':file.getId}) }}">{{ file.getName() }}</a><span class="data-file">{{ file.getProvenance }}</span></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
