{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}tutor.show.verb{% endtrans %}</h2>
    <em>{% trans %}tutor.show.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
    <!-- NAV TABS -->
    <ul class="nav nav-tabs">
        <li {% if tab == 'profile' %}class="active"{% endif %}><a href="#profile-tab" data-toggle="tab"><i class="fa fa-user"></i> Personal Information</a></li>
        <li {% if tab == 'engagement' %}class="active"{% endif %}><a href="#engagement-tab" data-toggle="tab"><i class="fa fa-briefcase"></i> Terms of Engagement</a></li>
        <li {% if tab == 'competency' %}class="active"{% endif %}><a href="#competency-tab" data-toggle="tab"><i class="fa fa-puzzle-piece"></i> Competencies</a></li>
        <li {% if tab == 'files' %}class="active"{% endif %}><a href="#files-tab" data-toggle="tab"><i class="fa fa-cloud-upload"></i> Files</a></li>
    </ul>
    <!-- END NAV TABS -->

    <div class="tab-content profile-page">
        <!-- PROFILE TAB CONTENT -->
        <div class="tab-pane profile{% if tab == 'profile' %} active{% endif %}" id="profile-tab">
            <div class="row">
                <div class="col-md-3">
                    <div class="user-info-left">
                        <div id="avatar-container">
                        {% include 'FitchTutorBundle:Profile:avatar.html.twig' %}
                        </div>
                        <h2> {{ tutor.name }} </h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="user-info-right">
                        <div class="basic-info">
                            <h3><i class="fa fa-square"></i> Basic Information</h3>
                            <p class="data-row">
                                <span class="data-name">Full Name</span>
                                <span class="data-value"><a href="#" id="name" class="inline" data-type="text" data-pk="{{ tutor.getId }}" data-url="{{ path('tutor_ajax_update')}}" data-title="Enter Full Name">{{ tutor.name }}</a></span>
                            </p>
                            <p class="data-row">
                                <span class="data-name">Tutor Type</span>
                                <span class="data-value"><a href="#" id="tutor_type" class="inline" data-source="{{ path('all_tutor_types') }}" data-type="select" data-pk="{{ tutor.getId }}" data-url="{{ path('tutor_ajax_update')}}" data-value="{{ tutor.getTutorType.getId }}" data-title="Select Tutor Type">{{ tutor.getTutorType.getName }}</a></span>
                            </p>
                            <p class="data-row">
                                <span class="data-name">Status</span>
                                <span class="data-value"><a href="#" id="status" class="inline" data-source="{{ path('all_status') }}" data-type="select" data-pk="{{ tutor.getId }}" data-url="{{ path('tutor_ajax_update')}}" data-value="{{ tutor.getRegion.getId }}" data-title="Select Status">{{ tutor.getStatus.getName }}</a></span>
                            </p>
                            <p class="data-row">
                                <span class="data-name">Region</span>
                                <span class="data-value"><a href="#" id="region" class="inline" data-source="{{ path('all_regions') }}" data-type="select" data-pk="{{ tutor.getId }}" data-url="{{ path('tutor_ajax_update')}}" data-value="{{ tutor.getRegion.getId }}" data-title="Select Region">{{ tutor.getRegion.getName }}</a></span>
                            </p>
                            <p class="data-row">
                                <span class="data-name"><i class="fa fa-linkedin-square"></i> LinkedIn Profile</span>
                                <span class="data-value">
                                    {% if tutor.getLinkedInURL %}
                                        <a href="{{ tutor.getLinkedInURL }}" target="_blank">View Profile</a>
                                    {% endif %}
                                    <a href="#" id="linkedInURL" class="inline" data-type="url" data-pk="{{ tutor.getId }}" data-url="{{ path('tutor_ajax_update')}}" data-value="{{ tutor.getLinkedInURL }}" data-title="Enter URL of LinkedIn Profile">Edit</a>
                                </span>
                            </p>
                            <p class="data-row">
                                <span class="data-name">Date Created</span>
                                <span class="data-value">{{ tutor.created|localizeddate('medium','none') }} </span>
                            </p>
                        </div>
                        <div class="contact-info">
                            <h3 class="data-row" data-id="{{ tutor.getId }}"><i class="fa fa-square"></i> Contact Information
                                <a href="#" class="btn btn-default btn-xs add-email"><i class="fa fa-at"></i> New Email</a>
                                <a href="#" class="btn btn-default btn-xs add-phone"><i class="fa fa-phone"></i> New Phone</a>
                                <a href="#" class="btn btn-default btn-xs add-address"><i class="fa fa-envelope-o"></i> New Address</a>
                            </h3>

                            <div class="email-container">
                                {% for email in tutor.getEmailAddresses %}
                                    <p class="data-row"  data-id="{{ tutor.getId }}">
                                        <span class="data-name">Email ({{ email.getType }})</span>
                                        <span class="data-value">
                                            <a href="#" id="email{{ email.getId }}" class="inline-email"
                                               data-type="emailContact"
                                               data-pk="{{ tutor.getId }}"
                                               data-email-pk="{{ email.getId }}"
                                               data-url="{{ path('tutor_ajax_update')}}"
                                               data-title="Enter Email"
                                               data-value-type="{{ email.getType }}"
                                               data-value-address="{{ email.getAddress }}"
                                               >{{ email }}</a>
                                        </span>
                                        <span class="data-action">
                                            <a href="#" data-pk="{{ email.getId }}" class="btn btn-danger btn-xs remove-email"><i class="fa fa-remove"></i></a>
                                        </span>
                                    </p>
                                {% endfor %}
                            </div>

                            <div class="phone-container">
                                {% for phone in tutor.getPhoneNumbers %}
                                    <p class="data-row"  data-id="{{ tutor.getId }}">
                                        <span class="data-name">Phone ({{ phone.getType }})</span>
                                        <span class="data-value">
                                            <a href="#" id="phone{{ phone.getId }}" class="inline-phone"
                                               data-type="phone"
                                               data-pk="{{ tutor.getId }}"
                                               data-phone-pk="{{ phone.getId }}"
                                               data-url="{{ path('tutor_ajax_update')}}"
                                               data-title="Enter Phone"
                                               data-value-type="{{ phone.getType }}"
                                               data-value-country="{{ phone.getCountry.getId }}"
                                               data-value-number="{{ phone.getNumber }}"
                                            >{{ phone.getFullNumber }}</a>
                                        </span>
                                        <span class="data-action">
                                            <a href="#" data-pk="{{ phone.getId }}" class="btn btn-danger btn-xs remove-phone"><i class="fa fa-remove"></i></a>
                                        </span>
                                    </p>
                                {% endfor %}
                            </div>

                            <div class="address-container">
                                {% for address in tutor.getAddresses %}
                                    <p class="data-row" data-id="{{ tutor.getId }}">
                                        <span class="data-name">Address ({{ address.getType }})</span>
                                        <span class="data-value">
                                            <a href="#" id="address{{ address.getId }}" class="inline-address"
                                               data-type="address"
                                               data-pk="{{ tutor.getId }}"
                                               data-address-pk="{{ address.getId }}"
                                               data-url="{{ path('tutor_ajax_update')}}"
                                               data-title="Enter Address"
                                               data-value-type="{{ address.getType }}"
                                               data-value-street-primary="{{ address.getStreetPrimary }}"
                                               data-value-street-secondary="{{ address.getStreetSecondary }}"
                                               data-value-city="{{ address.getCity }}"
                                               data-value-state="{{ address.getState }}"
                                               data-value-zip="{{ address.getZip }}"
                                               data-value-country="{{ address.getCountry.getId }}"
                                            >{{ address }}</a>
                                        </span>
                                        <span class="data-action">
                                            <a href="#" data-pk="{{ address.getId }}" class="btn btn-danger btn-xs remove-address"><i class="fa fa-remove"></i></a>
                                        </span>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="bio data-row" data-id="{{ tutor.getId }}">
                            <h3><i class="fa fa-square"></i> Biography <a href="#" class="btn btn-default btn-xs edit-bio"><i class="fa fa-pencil"></i> Edit</a></h3>
                            <div id="bio">{{ tutor.getBio|purify }}</div>
                            <a href="#" class="btn btn-success btn-xs save-bio" style="display:none"><i class="fa fa-floppy-o"></i> Save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE TAB CONTENT -->

        <!-- ENGAGEMENT TAB CONTENT -->
        <div class="tab-pane engagement{% if tab == 'engagement' %} active{% endif %}" id="engagement-tab">
            <div class="row">
                <div class="col-md-4">
                    <div class="user-info-left">
                        <div class="rates-info">
                            <div class="rates-container">
                                <h3><i class="fa fa-square"></i> Rates
                                    <a href="#" class="btn btn-default btn-xs add-rate"><i class="fa fa-money"></i> New Rate</a>
                                </h3>
                                <p class="data-row">
                                    <span class="data-name">Currency</span>
                                    <span class="data-value"><a href="#" id="currency" class="inline" data-source="{{ path('all_currencies') }}" data-type="select" data-pk="{{ tutor.getId }}" data-url="{{ path('tutor_ajax_update')}}" data-value="{{ tutor.getCurrency.getId }}" data-title="Select Currency">{{ tutor.getCurrency }}</a></span>
                                </p>
                                {% for rate in tutor.getRates %}
                                    <p class="data-row"  data-id="{{ tutor.getId }}">
                                        <span class="data-name">{{ rate.getName }} Rate</span>
                                        <span class="data-value">
                                            <a href="#" id="rate{{ rate.getId }}" class="inline-rate"
                                               data-type="rate"
                                               data-pk="{{ tutor.getId }}"
                                               data-rate-pk="{{ rate.getId }}"
                                               data-url="{{ path('tutor_ajax_update')}}"
                                               data-title="Enter Rate"
                                               data-value-name="{{ rate.getName }}"
                                               data-value-amount="{{ rate.getAmount }}"
                                               >{{ rate.getAmount }}</a>
                                        </span>
                                        <span class="data-action">
                                            <a href="#" data-pk="{{ rate.getId }}" class="btn btn-danger btn-xs remove-rate"><i class="fa fa-remove"></i></a>
                                        </span>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="contracts-info">
                            <h3><i class="fa fa-square"></i> Contracts</h3>
                            <div id="contracts-container">
                                <ul class="fa-ul">
                                {% for file in tutor.getFiles %}
                                    {% if file.getFileType.isPrivate %}
                                        <li><i class="fa-li fa fa-file-o"></i><a href="{{ path('get_file_download', {'id':file.getId}) }}">{{ file.getName() }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="user-info-right">
                        <div class="notes-info" data-note-key="terms" data-id="{{ tutor.getId }}">
                            <div class="notes-container">
                                <h3><i class="fa fa-square"></i> Notes for Terms of Engagement</h3>
                                {% for note in tutor.getNotes %}
                                    {% if note.getKey == 'terms' %}
                                    <div data-id="{{ note.getId }}" class="data-row">
                                        <div class="note">
                                            <a href="#" id="note{{ note.getId }}" class="inline-note"
                                               data-inputclass="input-note"
                                               data-type="textarea"
                                               data-pk="{{ tutor.getId }}"
                                               data-url="{{ path('tutor_ajax_update')}}"
                                               data-title="Enter Note"
                                               data-note-pk="{{ note.getId }}"
                                            >{{ note.getBody }}</a>

                                        </div>
                                        <div class="note-provenance pull-right">{{ note.getProvenance }}
                                            <span class="data-action">
                                                <a href="#" data-pk="{{ note.getId }}" class="btn btn-danger btn-xs remove-note"><i class="fa fa-remove"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="notes-new">
                                <a href="#" class="btn btn-default btn-xs add-note"><i class="fa fa-file-text-o"></i> New Note</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger">DEBUG - THIS TAB WILL (EVENTUALLY!) ONLY DISPLAY WITH APPROPRIATE RIGHTS </div>
        </div>
        <!-- END ACTIVITY TAB CONTENT -->

        <!-- COMPETENCY TAB CONTENT -->
        <div class="tab-pane competency{% if tab == 'competency' %} active{% endif %}" id="competency-tab">

            <p> competencies show here</p>
        </div>
        <!-- END SETTINGS TAB CONTENT -->

        <!-- FILES TAB CONTENT -->
        <div class="tab-pane files{% if tab == 'files' %} active{% endif %}" id="files-tab">
            <div class="row">
                <div class="col-md-6 user-info-left">
                    <div class="widget">
                        <div class="widget-header"><h3><i class="fa fa-cloud-upload"></i> File Upload</h3>
                            <div class="btn-group widget-header-toolbar">
                                <a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                                <a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
                                <a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="widget-content">
                            <form id="file_upload" action="{{ oneup_uploader_endpoint('tutor') }}" class="dropzone dz-clickable">
                                <input type="hidden" name="tutorPk" value="{{ tutor.getId }}">
                                <div class="dz-default dz-message">
                                    <span>Drop files here to upload</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 user-info-right">
                    <div class="widget">
                        <div class="widget-header"><h3><i class="fa fa-files-o"></i> Files</h3>
                            <div class="btn-group widget-header-toolbar">
                                <a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                                <a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
                                <a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="widget-content">
                            <div id="files-container">
                            {% for file in tutor.getFiles %}
                                {% include 'FitchTutorBundle:Profile:file_row.html.twig' %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- END FILES TAB CONTENT -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@FitchTutorBundle/Resources/public/js/tutor.js'
        '@FitchTutorBundle/Resources/public/js/address.js'
        '@FitchTutorBundle/Resources/public/js/email.js'
        '@FitchTutorBundle/Resources/public/js/phone.js'
        '@FitchTutorBundle/Resources/public/js/rate.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
