{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}report.title{% endtrans %}</h2><em>{% trans %}report.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
    {% include 'FitchTutorBundle:Report:definition.html.twig' %}
    {% include 'FitchTutorBundle:Report:body.html.twig' %}

    {% if is_granted('ROLE_CAN_CREATE_SAVED_REPORTS') %}
        {% import 'FitchFrontEndBundle::helper.html.twig' as helper %}
        <div class="widget widget-table" id="report-save">
            {{ helper.widget_header('Save Report Definition', 'fa fa-save', 'widget-report_save') }}
                {% form_theme saveForm 'FitchFrontEndBundle:Form:horizontal.html.twig' %}
                {{ form(saveForm, {'attr': {'class': 'form-horizontal'} }) }}
            {{ helper.widget_footer() }}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@datatable_js'
    '@FitchTutorBundle/Resources/public/js/report.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
