{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}report.title{% endtrans %}</h2><em>{% trans %}report.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}

    {% include 'FitchTutorBundle:Report:header.html.twig' %}

    {% import 'FitchFrontEndBundle::helper.html.twig' as helper %}
    <div class="widget widget-table" id="report-holder">
    {{ helper.widget_header('Report', 'fa fa-list-alt', 'widget-report_content') }}
        <table id="report" class="table table-sorting table-striped table-hover table-scrolling datatable" cellpadding="0" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Region</th>
                <th>Language(s)</th>
                <th>Address(es)</th>
                <th>Email(s)</th>
                <th>Phone Number(s)</th>
                <th>Skills</th>
                <th>Rates</th>
            </tr>
            </thead>

            <tbody>
            {% for tutor in data %}
            <tr>
                <td>{{ tutor.getName }}</td>
                <td>{{ tutor.getTutorType }}</td>
                <td>{{ tutor.getStatus }}</td>
                <td>{{ tutor.getRegion }}</td>
                <td>{% for tutorLanguage in tutor.getTutorLanguages %}
                        {% if loop.first %}
                            <ul class="fa-ul">
                        {% endif %}
                                <li><i class="fa-li fa fa-language"></i>{{ tutorLanguage.getLanguage }} {% if tutorLanguage.getNote %} - {{ tutorLanguage.getNote }}{% endif %}</li>
                        {% if loop.last %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{% for address in tutor.getAddresses %}
                        {% if loop.first %}
                            <ul class="fa-ul">
                        {% endif %}
                            <li><i class="fa-li fa fa-envelope-o"></i>{{ address }} ({{ address.getType }})</li>
                        {% if loop.last %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{% for email in tutor.getEmailAddresses %}
                        {% if loop.first %}
                            <ul class="fa-ul">
                        {% endif %}
                                <li><i class="fa-li fa fa-at"></i>{{ email }} ({{ email.getType }})</li>
                        {% if loop.last %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{% for phoneNumber in tutor.getPhoneNumbers %}
                        {% if loop.first %}
                            <ul class="fa-ul">
                        {% endif %}
                                <li><i class="fa-li fa fa-phone"></i>{{ phoneNumber }} </li>
                        {% if loop.last %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{% for competency in tutor.getCompetencies %}
                        {% if loop.first %}
                            <ul class="fa-ul">
                        {% endif %}
                               <li><i class="fa-li fa fa-square"></i>{% if competency.getCompetencyType %}{{ competency.getCompetencyType.getName }}{% endif %}{% if competency.getCompetencyLevel %} ({{ competency.getCompetencyLevel.getName }}){% endif %}{% if competency.getNote %} - {{ competency.getNote }}{% endif %}</li>
                        {% if loop.last %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{% for rate in tutor.getRates %}
                        {% if loop.first %}
                            <ul class="fa-ul">
                        {% endif %}
                                <li><i class="fa-li fa fa-money"></i>{{ rate.getName }} Rate: {{ rate.getAmount|number_format(2, '.', ',') }} {{ tutor.getCurrency.getThreeDigitCode }} ({{ (rate.getAmount * tutor.getCurrency.getToGBP)|number_format(2, '.', ',') }} GBP)</li>
                        {% if loop.last %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {{ helper.widget_footer() }}
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@datatable_js'
    '@FitchTutorBundle/Resources/public/js/report.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
