{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

    {% block main_header -%}
    <h2>{% trans %}language.show.verb{% endtrans %}</h2>
    <em>{% trans %}language.show.tagline{% endtrans %}</em>
    {% endblock %}

{% block main_content -%}
    {% import 'FitchFrontEndBundle::helper.html.twig' as helper %}
    <div class="widget widget-table">
        {{ helper.widget_header(language, 'fa fa-language', 'widget-language-show') }}
            <table class="record_properties table table-condensed table-striped">
                <tbody>
                    <tr>
                        <th class="col-xs-2">{% trans %}language.column.id{% endtrans %}</th>
                        <td>{{ language.id }}</td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">{% trans %}language.column.name{% endtrans %}</th>
                        <td>{{ language.name }}</td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">{% trans %}language.column.code{% endtrans %}</th>
                        <td>{{ language.threeLetterCode }}</td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">{% trans %}language.column.preferred{% endtrans %}</th>
                        <td>{% if language.isPreferred %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">{% trans %}language.column.active{% endtrans %}</th>
                        <td>{% if language.isActive %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        {{ helper.widget_footer() }}
    </div>
    <div class="record_actions well">
        <a class="btn btn-default btn-s" href="{{ path('language') }}">
            <i class="fa fa-arrow-circle-left"></i> {% trans %}navigation.list{% endtrans %}
        </a>

        <a class="btn btn-default btn-s" href="{{ path('language_edit', { 'id': language.id }) }}">
            <i class="fa fa-pencil"></i> {% trans %}navigation.edit{% endtrans %}
        </a>

        {% form_theme delete_form 'FitchFrontEndBundle:Form:inline.html.twig' %}
        {{ form(delete_form, {'attr': {'class': 'form-inline'} }) }}
    </div>
{% endblock %}
