{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

    {% block main_header -%}
    <h2>{% trans %}language.show.verb{% endtrans %}</h2>
    <em>{% trans %}language.show.tagline{% endtrans %}</em>
    {% endblock %}

{% block main_content -%}
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-language"></i> {{ language }}</h3>
            <div class="btn-group widget-header-toolbar">
                <a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                <a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
                <a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>

        <div class="widget-content">
            <table class="record_properties table table-condensed table-striped">
                <tbody>
                    <tr>
                        <th class="col-xs-2">{% trans %}language.column.id{% endtrans %}</th>
                        <td>{{ language.id }}</td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">{% trans %}language.column.name{% endtrans %}</th>
                        <td>{{ language.name }}</td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">{% trans %}language.column.code{% endtrans %}</th>
                        <td>{{ language.threeLetterCode }}</td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">{% trans %}language.column.preferred{% endtrans %}</th>
                        <td>{% if language.isPreferred %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">{% trans %}language.column.active{% endtrans %}</th>
                        <td>{% if language.isActive %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                    </tr>
                </tbody>
            </table>

            <div class="record_actions well">
                <a class="btn btn-default btn-s" href="{{ path('language') }}">
                    <i class="fa fa-arrow-circle-left"></i> {% trans %}navigation.list{% endtrans %}
                </a>

                <a class="btn btn-default btn-s" href="{{ path('language_edit', { 'id': language.id }) }}">
                    <i class="fa fa-pencil"></i> {% trans %}navigation.edit{% endtrans %}
                </a>

                {% form_theme delete_form 'FitchFrontEndBundle:Form:inline.html.twig' %}
                {{ form(delete_form, {'attr': {'class': 'form-inline'} }) }}
            </div>
        </div>
    </div>
{% endblock %}
