{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}competency_level.show.verb{% endtrans %}</h2>
    <em>{% trans %}competency_level.show.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
    {% import 'FitchFrontEndBundle::helper.html.twig' as helper %}
    <div class="widget widget-table">
        {{ helper.widget_header(competencyLevel, 'fa fa-signal', 'widget-show-competency-level') }}
            <table class="record_properties table table-condensed table-striped">
                <tbody>
                    <tr>
                        <th class="col-xs-2">{% trans %}competency_level.column.id{% endtrans %}</th>
                        <td>{{ competencyLevel.id }}</td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">{% trans %}competency_level.column.name{% endtrans %}</th>
                        <td>{{ competencyLevel.name }}</td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">{% trans %}competency_level.column.color{% endtrans %}</th>
                        <td><span style="background-color: {{ competencyLevel.getColor }}; padding:3px;">{{ competencyLevel.getColor }}</span></td>
                    </tr>
                </tbody>
            </table>
        {{ helper.widget_footer() }}
    </div>
    <div class="record_actions well">
        <a class="btn btn-default btn-s" href="{{ path('competency_level') }}">
            <i class="fa fa-arrow-circle-left"></i> {% trans %}navigation.list{% endtrans %}
        </a>
        <a class="btn btn-default btn-s" href="{{ path('competency_level_edit', { 'id': competencyLevel.id }) }}">
            <i class="fa fa-pencil"></i> {% trans %}navigation.edit{% endtrans %}
        </a>
        {% form_theme delete_form 'FitchFrontEndBundle:Form:inline.html.twig' %}
        {{ form(delete_form, {'attr': {'class': 'form-inline'} }) }}
    </div>
{% endblock %}
