{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}tutor_type.list.verb{% endtrans %}</h2>
    <em>{% trans %}tutor_type.list.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
    {% import 'FitchFrontEndBundle::helper.html.twig' as helper %}
    <div class="widget widget-table">
        {{ helper.widget_header('tutor_type.list.verb', 'fa fa-child', 'widget-tutortype-index') }}
            <table class="records_list table table-condensed table-striped">
                <thead>
                <tr>
                    <th>{% trans %}tutor_type.column.id{% endtrans %}</th>
                    <th>{% trans %}tutor_type.column.name{% endtrans %}</th>
                    <th>{% trans %}tutor_type.column.actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for tutor_type in tutor_types %}
                    <tr>
                        <td>{{ tutor_type.id }}{% if tutor_type.isDefault %}<i class="fa fa-asterisk yellow-font"></i>{% endif %}</td>
                        <td><a href="{{ path('tutor_type_show', { 'id': tutor_type.id }) }}">{{ tutor_type.name }}</a></td>
                        <td>
                            <a href="{{ path('tutor_type_show', { 'id': tutor_type.id }) }}" class="btn btn-xs btn-default">{% trans %}navigation.show{% endtrans %}</a>
                            <a href="{{ path('tutor_type_edit', { 'id': tutor_type.id }) }}" class="btn btn-xs btn-default">{% trans %}navigation.edit{% endtrans %}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <small><i class="fa fa-asterisk yellow-font"></i>{% trans %}tutor_type.default_message{% endtrans %}</small>
        {{ helper.widget_footer() }}
    </div>
    <div class="record_actions well">
        <a href="{{ path('tutor_type_new') }}" class="btn btn-default btn-s">
            <i class="fa fa-plus-circle"></i> {% trans %}navigation.new{% endtrans %}
        </a>
    </div>
{% endblock %}
