{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}currency.list.verb{% endtrans %}</h2>
    <em>{% trans %}currency.list.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
    {% import 'FitchFrontEndBundle::helper.html.twig' as helper %}
    <div class="widget widget-table">
        {{ helper.widget_header('currency.list.verb', 'fa fa-money', 'widget-currency-index') }}
            <table class="records_list table table-condensed table-striped">
                <thead>
                <tr>
                    <th>{% trans %}currency.column.id{% endtrans %}</th>
                    <th>{% trans %}currency.column.name{% endtrans %}</th>
                    <th>{% trans %}currency.column.code{% endtrans %}</th>
                    <th>{% trans %}currency.column.togbp{% endtrans %}</th>
                    <th>{% trans %}currency.column.rateupdated{% endtrans %}</th>
                    <th>{% trans %}currency.column.preferred{% endtrans %}</th>
                    <th>{% trans %}currency.column.active{% endtrans %}</th>
                    <th>{% trans %}currency.column.actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for currency in currencies %}
                    <tr>
                        <td>{{ currency.id }}</td>
                        <td><a href="{{ path('currency_show', { 'id': currency.id }) }}">{{ currency.name }}</a></td>
                        <td>{{ currency.threeDigitCode }}</td>
                        <td>{{ currency.toGBP }}</td>
                        <td>{{ currency.rateUpdated|time_diff }}</td>
                        <td>{% if currency.isPreferred %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                        <td>{% if currency.isActive %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                        <td>
                            <a href="{{ path('currency_show', { 'id': currency.id }) }}" class="btn btn-xs btn-default">{% trans %}navigation.show{% endtrans %}</a>
                            <a href="{{ path('currency_edit', { 'id': currency.id }) }}" class="btn btn-xs btn-default">{% trans %}navigation.edit{% endtrans %}</a>
                            <a href="{{ path('currency_xr_update', { 'id': currency.id }) }}" class="btn btn-xs btn-default">{% trans %}currency.update.xr{% endtrans %}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {{ helper.widget_footer() }}
    </div>
    <div class="record_actions well">
        <a href="{{ path('currency_new') }}" class="btn btn-default btn-s">
            <i class="fa fa-plus-circle"></i> {% trans %}navigation.new{% endtrans %}
        </a>
    </div>
{% endblock %}
