{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}currency.list.verb{% endtrans %}</h2>
    <em>{% trans %}currency.list.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-money"></i> {% trans %}currency.list.verb{% endtrans %}</h3>
            <div class="btn-group widget-header-toolbar">
                <a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                <a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
                <a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="widget-content">
            <table class="records_list table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>{% trans %}currency.column.id{% endtrans %}</th>
                        <th>{% trans %}currency.column.name{% endtrans %}</th>
                        <th>{% trans %}currency.column.code{% endtrans %}</th>
                        <th>{% trans %}currency.column.preferred{% endtrans %}</th>
                        <th>{% trans %}currency.column.active{% endtrans %}</th>
                        <th>{% trans %}currency.column.actions{% endtrans %}</th>
                     </tr>
                </thead>
                <tbody>
                {% for currency in currencies %}
                    <tr>
                        <td>{{ currency.id }}</td>
                        <td><a href="{{ path('currency_show', { 'id': currency.id }) }}">{{ currency.name }}</a></td>
                        <td>{{ currency.threeDigitCode }}</td>
                        <td>{% if currency.isPreferred %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                        <td>{% if currency.isActive %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                        <td>
                            <a href="{{ path('currency_show', { 'id': currency.id }) }}" class="btn btn-xs btn-default">{% trans %}navigation.show{% endtrans %}</a>
                            <a href="{{ path('currency_edit', { 'id': currency.id }) }}" class="btn btn-xs btn-default">{% trans %}navigation.edit{% endtrans %}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="record_actions well">
        <a href="{{ path('currency_new') }}" class="btn btn-default btn-s">
            <i class="fa fa-plus-circle"></i> {% trans %}navigation.new{% endtrans %}
        </a>
    </div>
{% endblock %}
