{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

    {% block main_header -%}
    <h2>{% trans %}currency.show.verb{% endtrans %}</h2>
    <em>{% trans %}currency.show.tagline{% endtrans %}</em>
    {% endblock %}

{% block main_content -%}
    {% import 'FitchFrontEndBundle::helper.html.twig' as helper %}
    <div class="widget widget-table">
        {{ helper.widget_header(currency, 'fa fa-money', 'widget-currency-show') }}
            <table class="record_properties table table-condensed table-striped">
                <tbody>
                <tr>
                    <th class="col-xs-2">{% trans %}currency.column.id{% endtrans %}</th>
                    <td>{{ currency.id }}</td>
                </tr>
                <tr>
                    <th class="col-xs-2">{% trans %}currency.column.name{% endtrans %}</th>
                    <td>{{ currency.name }}</td>
                </tr>
                <tr>
                    <th class="col-xs-2">{% trans %}currency.column.code{% endtrans %}</th>
                    <td>{{ currency.threeDigitCode }}</td>
                </tr>
                <tr>
                    <th class="col-xs-2">{% trans %}currency.column.preferred{% endtrans %}</th>
                    <td>{% if currency.isPreferred %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                </tr>
                <tr>
                    <th class="col-xs-2">{% trans %}currency.column.active{% endtrans %}</th>
                    <td>{% if currency.isActive %}<span class="badge badge-success">Yes</span>{% endif %}</td>
                </tr>
                </tbody>
            </table>
        {{ helper.widget_footer() }}
    </div>
    <div class="record_actions well">
        <a class="btn btn-default btn-s" href="{{ path('currency') }}">
            <i class="fa fa-arrow-circle-left"></i> {% trans %}navigation.list{% endtrans %}
        </a>

        <a class="btn btn-default btn-s" href="{{ path('currency_edit', { 'id': currency.id }) }}">
            <i class="fa fa-pencil"></i> {% trans %}navigation.edit{% endtrans %}
        </a>

        {% form_theme delete_form 'FitchFrontEndBundle:Form:inline.html.twig' %}
        {{ form(delete_form, {'attr': {'class': 'form-inline'} }) }}
    </div>
{% endblock %}
