{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}user.list.verb{% endtrans %}</h2>
    <em>{% trans %}user.list.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
    <table class="records_list table table-condensed table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.userName }}</a></td>
                <td>{{ entity.fullName }}</td>
                <td>{{ entity.getEmail }}</td>
                <td><ul class="fa-ul">{% for role in entity.getRoles %}<li><i class="fa-li fa fa-check-square"></i>{{ role }}</li> {% endfor %}</ul></td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>        <a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn btn-xs btn-default">{% trans %}navigation.show{% endtrans %}</a>        <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-default">{% trans %}navigation.edit{% endtrans %}</a>                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a href="{{ path('user_new') }}" class="btn btn-default btn-s">
        <i class="fa fa-plus-circle"></i> {% trans %}navigation.new{% endtrans %}
    </a>
    {% endblock %}
