{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}user.list.verb{% endtrans %}</h2>
    <em>{% trans %}user.list.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
    {% import 'FitchFrontEndBundle::helper.html.twig' as helper %}
    <div class="widget widget-table">
        {{ helper.widget_header('user.list.verb', 'fa fa-users', 'widget-users-list') }}
            <table class="records_list table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.userName }}</a></td>
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.getEmail }}</td>
                        <td>
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-check-square"></i><em>{{ 'ROLE_USER'|humanise_role }}</em></li>
                                {% for role in user.getRoles if role != 'ROLE_USER' %}<li><i class="fa-li fa fa-plus-square"></i>{{ role|humanise_role }}</li> {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-xs btn-default">{% trans %}navigation.show{% endtrans %}</a>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-xs btn-default">{% trans %}navigation.edit{% endtrans %}</a>
                            {% if allowedToSwitch %}
                                <a href="{{ path('home') }}?_impersonate={{ user.userName }}" class="btn btn-xs btn-danger">Switch to</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {{ helper.widget_footer() }}
    </div>

    <div class="record_actions well">
        <a href="{{ path('user_new') }}" class="btn btn-default btn-s">
            <i class="fa fa-plus-circle"></i> {% trans %}navigation.new{% endtrans %}
        </a>
    </div>
{% endblock %}
