{% extends 'FitchFrontEndBundle::frontend.html.twig' %}

{% block main_header -%}
    <h2>{% trans %}user.show.verb{% endtrans %}</h2>
    <em>{% trans %}user.show.tagline{% endtrans %}</em>
{% endblock %}

{% block main_content -%}
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-users"></i> {{ user.userName }}</h3>
            <div class="btn-group widget-header-toolbar">
                <a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                <a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
                <a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="widget-content">
            <table class="record_properties table table-condensed table-striped">
                <tbody>
                    <tr>
                        <th class="col-xs-2">Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">Username</th>
                        <td>{{ user.userName }}</td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">Fullname</th>
                        <td>{{ user.fullName }}</td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">Roles</th>
                        <td><ul class="fa-ul">{% for role in user.getRoles %}<li><i class="fa-li fa fa-check-square"></i>{{ role }}</li> {% endfor %}</ul></td>
                    </tr>
                    <tr>
                        <th class="col-xs-2">Audit Log</th>
                        <td>
                            <table class="records_list table table-condensed table-striped">
                                <thead>
                                <tr>
                                    <th>{% trans %}user.field.log.action{% endtrans %}</th>
                                    <th>{% trans %}user.field.log.username{% endtrans %}</th>
                                    <th>{% trans %}user.field.log.fullname{% endtrans %}</th>
                                    <th>{% trans %}user.field.log.email{% endtrans %}</th>
                                    <th>{% trans %}user.field.log.roles{% endtrans %}</th>
                                    <th>{% trans %}user.field.log.date{% endtrans %}</th>
                                    <th>{% trans %}user.field.log.user{% endtrans %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for logEntry in logs %}
                                    <tr>
                                        <td>{{ logEntry.action }}</td>
                                        <td>{{ logEntry.data.username|default('<span class="no-change">No Change</span>')|raw }}</td>
                                        <td>{{ logEntry.data.fullname|default('<span class="no-change">No Change</span>')|raw }}</td>
                                        <td>{{ logEntry.data.email|default('<span class="no-change">No Change</span>')|raw }}</td>
                                        <td>{% if logEntry.data.roles is defined %}
                                                <ul class="fa-ul">{% for role in logEntry.data.roles %}<li><i class="fa-li fa fa-check-square"></i>{{ role }}</li> {% endfor %}</ul>
                                            {% else %}
                                                <span class="no-change">No Change</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ logEntry.loggedAt|date("F jS \\a\\t g:ia")  }}</td>
                                        <td>{{ logEntry.username}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="record_actions well">
        <a class="btn btn-default btn-s" href="{{ path('user') }}">
                <i class="fa fa-arrow-circle-left"></i> {% trans %}navigation.list{% endtrans %}
        </a>

        <a class="btn btn-default btn-s" href="{{ path('user_edit', { 'id': user.id }) }}">
            <i class="fa fa-pencil"></i> {% trans %}navigation.edit{% endtrans %}
        </a>

        {% form_theme delete_form 'FitchFrontEndBundle:Form:inline.html.twig' %}
        {{ form(delete_form, {'attr': {'class': 'form-inline'} }) }}
    </div>
{% endblock %}
