{% trans_default_domain 'FOSUserBundle' %}
<h1>Your user profile</h1>
<div class="fos_user_user_show profile-box center-block">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>{{ 'profile.show.fullname'|trans }}: {{ user.fullName }}</p>

    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-custom-primary btn-lg btn-block btn-edit"><i class="fa fa-edit"></i> Edit Password</a>
</div>
